.task_list{
    justify-content: center;
    display: flex;
}

.task_list .task_box{
    margin: 30px 0 0 0;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 0 45px 0 41px;

}

.task_list ul{
    padding: 0;
}

.task_list .task{
    display: flex;
    height: 20px;
    width: 270px;
    margin: 5px 12px 5px 0;
    border-width: thin;
    padding: 10px 13px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 10px;
}
.task_list input{
    margin: 0;
}

.task_list label{
    margin: 0;
    padding-left: 7px;
    overflow: hidden;
}

.task_list .edit_button{
    margin-top: 20px;
}

.task_list .edit_button button{
    padding: 0;
    margin: 0;
    border: none;
}
.task_list .edit_icon{
    color: #2355BE;
    font-size: 20px;
}

.task_list .delete_button{
    margin-top: 20px;
}
.task_list .delete_button button{
    padding: 0;
    margin: 0;
    border: none;
}
.task_list .delete_icon{
    color: #C6362C;
    margin-left: 10px;
    font-size: 20px;
}